.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #2180b6;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 30vh auto;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #2180b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #1c6e95;
}
